.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  margin: 0.5rem auto;
  width: 50%;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
  border-radius: 2%;
  background: darkgray;
  box-shadow: 5px 5px 5px grey;
}
#comments {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
  background: lightblue;
}
a {
  text-decoration: none;
  color: darkblue;
  font-weight: 800;
}
h1 {
  text-align: center;
}